@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/* FONT */

@font-face {
  font-family: BasisGrotesquePro-Regular;
  src: url('BasisGrotesquePro-Regular.otf');
}

@font-face {
  font-family: BasisGrotesquePro-Italic;
  src: url('BasisGrotesquePro-Italic.otf');
}

/*.circle {
  border-radius: 50%;
  height: 26em;
  width: 26em;
  position: relative;
}*/

/*Looping Text*/

.containerSpinText {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex: 1;
  overflow: hidden;
  height: 100vh;
  font-family: BasisGrotesquePro-Regular;
  font-size: 20.1px;
  position: relative;
}

.logo {
  margin: 0 auto;
  min-width: auto;
  border-radius: 50%;
  height: 26em;
  width: 26em;
  position: relative;
}
.logo svg {
  display: block;
  position: relative;
}
.white{
  fill:white;
  transition: .3s;
}
.logo svg.nav {
  cursor: pointer;
  position: absolute;
  top: 0;
  animation: spin 1000s linear infinite;
  z-index: 4;
  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow:visible;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}
.logo svg.nav path {
  fill: none;

}

@media (max-width: 600px) {

  .logo {
    margin: 0 auto;
    min-width: auto;
    border-radius: 50%;
    height: 19em;
    width: 19em;
    position: relative;
  }

}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MODAL */

  .modalInfo {
    /*position:relative;*/
  }

  .infoButton {
    position:absolute;
    top:10px;
    right:10px;
    background-color: Transparent;
    color: #E21118;
    font-size: 2.5em;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }

	.infoContainer {
	  -webkit-box-align: center;
	          align-items: center;
	  display: -webkit-box;
	  display: flex;
	  -webkit-box-pack: center;
	          justify-content: center;
	  flex: 1;
	  overflow: hidden;
	  height: 100vh;
    width:100%;
    z-index: 1000;
	}

	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 100%;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
		background-color: #E21118;
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}

	.modal.right .modal-body {
		margin: auto;
		text-align: center;
		color: white;
		background-color: #E21118;
		height: 100%;
    padding: 0;
	}
  .modal{
    z-index: 3;
  }
  .modal-backdrop{
    display: none;
  }


/*Right*/
	.modal.right.fade .modal-dialog {
		/* right: -320px; */
		-webkit-transition: opacity 0.3s linear, right 0s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0s ease-out;
		     -o-transition: opacity 0.3s linear, right 0s ease-out;
		        transition: opacity 0.3s linear, right 0s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		background-color: #E21118;
		border-radius: 0;
		border: none;
	}

	.modal-header {
    position:absolute;
    width:100%;
		border-bottom-style:none;
    padding: 60;
	}

.close {
	color: #FFFFFF;
	height: 100%;
  font-size: 80px;
}
.modal-header .close {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2;
    font-size: 2.5em;
    color: white;
    opacity: 1;
    font-family: BasisGrotesquePro-Regular;
}

.letter {
  position: relative;
  font-size: 0.95em;
}

p {
  margin: 0;
}

.ita {
  font-family: BasisGrotesquePro-Italic;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
.letter {
  font-size: 0.73em;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
.letter {
  font-size: 1.8em;
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
.letter {
  font-size: 1.2em;
}
}

.buttonObj {
  color: white;
}

.buttonObj:hover {
  color: white;
}
