* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", -apple-system, sans-serif;
  font-size: 15px;
}

.container {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded_ellipse {
  transform-origin: 50% 50%;
}
.rounded_ellipse svg {
  max-width: 50em;
  display: block;
}
